a:hover {
	text-decoration: none;
	cursor: pointer;
	background-color:rgba(192,192,192,0.2);
}

.jumbotron {
	background-image: url("../images/tenor.gif");
	background-size: cover;
	height: 100vh;
	padding-top: 40vh;
	color: whitesmoke;
}

.menu-item {
	padding: 8px 10px;
	display: block;
	border-bottom: 1px solid #e1e4e8;
}

.panel-body {
	padding: 0px;
}

#profilePic img {
	width: 50%;
}

#emailToggle {
	margin-right: 10px;
}


@media (min-width: 768px) {
	#profilePic img {
		width: 100%;
	}
}





