.container-fluid {
	background-image: url("../images/tenor.gif");
	background-size: cover;
	height: 100vh;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	background-color:rgba(192,192,192,0.2);
}

.jumbotron {
	background: none;
	padding-top: 20vh;
	color: whitesmoke;
	font-family: 'Ubuntu', sans-serif;
}

#login-logo {
	width: 100%;
}

.menu-item {
	padding: 8px 10px;
	display: block;
	border-bottom: 1px solid #e1e4e8;
}

.panel-body {
	padding: 0px;
}

h3 {
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
	font-size:40px;
}
#profilePic {
	width: 50%;
}

#header {
}


#emailToggle {
	margin-right: 10px;
}


.btn {
	background-color:#6BCDDA;
	border-color:#488E97;
}

.btn-success:active {
	background-color:#488E97;
	border-color:#6BCDDA;
}

.btn-success:focus {
	background-color:#488E97;
	border-color:#6BCDDA;
}

.btn-success:active:hover {
	background-color:#488E97;
	border-color:#6BCDDA;
}

.btn-success:hover {
	background-color:#488E97;
	border-color:#6BCDDA;
}

.btn-success.disabled:hover {
	background-color:#6BCDDA;
	border-color:#488E97;
}


@media (min-width: 768px) {
	#profilePic {
		width: 100%;
	}

	.firebaseui-card-header h1 {
		font-size: 30px;
	}

	#header {
	}

	#login-logo {
		width: 60%;
	}

}





